* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  color: var(--gray-100);
}

html {
  font-size: 62.5%;
  background: linear-gradient(89deg, #000205 -10.97%, #000205 116.69%);
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
